/* .label {
    height: 54px;
    width: 310px;
} */


.div {
    color: #ff7518;
    font-family: "Inter-Regular", Helvetica;
    line-height: normal;
}

.label .text-wrapper {
    color: #ff7518;
    font-size: 33px;
}

.label .span {
    color: #ff7518;
    font-size: 20px;
}

.label .text-wrapper-2 {
    color: #000000;
    font-size: 15px;
}

.space {
    width: 150px;
    display: inline-block;
  }

.space2 {
    width: 30px;
    display: inline-block;
}

.space3 {
    width: 70px;
    display: inline-block;
}
  
.custom-button {
    background-color: #fff6f2;
    border: 2px solid;
    border-color: #ff7518;
    width: 210px;
    height: 40px;
}
.custom-button2 {
    background-color: #ff7518;
    width: 100px;
    height: 40px;
    color: #ffffff;
    /* border: 1px solid; */
}

.custom-button2:hover {
    background-color: #ff9900;
    color: #ffffff;
    border-color: #ff9900;
}

.custom-button3 {
    color: #4ABFD9;
    /* border: 1px solid; */
}

.label .image {
    font-size: 20px;
}

.label .sp {
    line-height: 1px;
}

.form-container {
    width: 40px;
    height: 30px;
  }

.form-item-wrapper {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}
.form-item-wrapper2 {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.img-back {
    background-image: url('./back.png');
    background-size: cover; 
    background-position: 'center';
    background-repeat: 'no-repeat';
    width: '100vw';
    height: '100vh';
    background-attachment: fixed;
  }

.img-back:hover {
    background-image: url('./back.png');
    /* สไตล์ CSS อื่น ๆ เมื่อ hover */
}